@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --bg-clr: #8681ce;
  --white: #fff;
  --dd-list-hvr: #e7e3ff;
  --text-clr: #2c3e50;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Open Sans", sans-serif;
}

body {
  background: var(--bg-clr);
  color: var(--text-clr);
  font-size: 12px;
  user-select: none;
}

.wrapper {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper .title {
  font-size: 14px;
  color: var(--white);
}

.select_wrap {
  width: 225px;
  margin: 10px auto;
  position: relative;
}

.select_wrap .default_option {
  background: var(--white);
  border-radius: 3px;
  position: relative;
  cursor: pointer;
}

.select_wrap .default_option .icon {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 20px;
  height: 20px;
  transition: all 0.5s ease;
}

.select_wrap .default_option li {
  padding: 12px 20px;
  font-weight: 700;
}

.select_wrap .select_ul {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  padding: 10px;
  background: var(--white);
  border-radius: 3px;
  display: none;
}

.select_wrap .select_ul li {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
  margin-bottom: 1px;
}

.select_wrap .select_ul li:last-child {
  margin-bottom: 0;
}

.select_wrap .select_ul li:hover,
.select_wrap .select_ul li.active {
  background: var(--dd-list-hvr);
}

.select_wrap .option {
  display: flex;
  align-items: center;
}

.select_wrap.active .select_ul {
  display: block;
}

.select_wrap.active .default_option .icon {
  top: 13px;
  transform: rotate(180deg);
}
